<% previous_game_question =  GameQuestion.find_by(question:participation.game.previous_question, game: participation.game ) %>
<% previous_question_attempt = Attempt.find_by(participation: participation, game_question: previous_game_question) %>

<% current_game_question =  GameQuestion.find_by(question:participation.game.current_question, game: participation.game ) %>
<% current_question_attempt = Attempt.find_by(participation: participation, game_question: current_game_question) %>

<% flash_condition = previous_question_attempt && previous_question_attempt.success && current_question_attempt.nil? %>

<div id="player-desk-1round" data-controller="desk"
     data-desk-user-id-value="<%= participation.user.id %>"

     data-desk-points-value="<%= flash_condition ? participation.game.previous_question.point_value : 0 %>"
     data-desk-previous-value="<%= participation.game.previous_attempts.find { |at| at.success }&.participation == participation %>">


  <%= image_tag "avatar/#{participation.user.photo.filename}.png" %>
  <p id="player-nickname-1round"><%= participation.user.nickname %></p>

  <div id="<%= participation.game.incorrect_attempt?(participation) ? 'card-point-1round-looser' : 'card-point-1round' %>">
    <% (9 - participation.point).times do %>
      <p class="point-1round-gray"></p>
    <% end %>

    <% (participation.point).times do |point| %>
      <p class="point-1round-orange"></p>
    <% end %>
  </div>
</div>
