<div class="summary" data-controller="js-confetti">

  <% participations.each do |participation| %>

    <% if participation.point == 9 %>
      <div class="winner">
        <%= image_tag "gif/winner.png"%>
        <%= image_tag "avatar/#{participation.user.photo.filename}.png", id:"avatar-winner"%>
        <p><%= participation.user.nickname %> | <%= participation.point %> pts</p>
      </div>
    <% end %>
  <% end %>

  <%= link_to "Recommencer",root_path, class:"big-yellow-btn" %>
</div>
