<%= turbo_stream_from @game %>
<%= turbo_stream_from current_user %>

<div id="game-show" data-controller="answer" data-answer-participation-id-value="<%= current_user.find_participation(@game).id %>" data-user-id="<%= current_user.id %>">
  <div class="container" id="game">
    <% unless @game.started? || @game.ended? %>
      <div id="players">
        <%= render "games/players", players: @game.players, game: @game, user: current_user %>
      </div>
    <% end %>

      <div id="timer" class="<%= "owner" if current_user == @game.user %>">
        <% if @game.started? %>
          <%= render "games/timer", state: "running", game: @game %>
        <% end %>
      </div>

    <div id="question">
      <% if @game.started? && @game.current_question %>
        <%= render "games/question", question: @game.current_question %>
      <% end %>
    </div>

    <div id="answer">
      <% if @game.started? %>

      <% end %>
    </div>

    <div id="scores">
      <% if @game.started? %>
        <%= render "games/scores", participations: @game.participations, looser: false %>
      <% end %>
    </div>

    <div id="summary">
      <% if @game.ended? %>
        <%= render "games/summary", participations: @game.participations, looser: false %>
      <% end %>
    </div>
    </div>
  </div>

  </div>
</div>

<script>
  var myText = document.getElementById("bounceTxt").innerHTML,
     wrapText = "";

  for (var i = 0; i < myText.length; i++) {
      wrapText += "<em>" + myText.charAt(i) + "</em>";
  }

  document.getElementById("bounceTxt").innerHTML = wrapText;

  var myLetters = document.getElementsByTagName("em"),
      j = 0;

  function applyBounce() {
      setTimeout(function () {
            myLetters[j].className = "bounce-me";
            j++;

            if (j < myLetters.length) {
                applyBounce();
            }
      }, 250);
  }

  applyBounce();
</script>
