<%= turbo_stream_from @game %>
<div data-controller="answer" data-answer-participation-id-value="<%= current_user.find_participation(@game).id %>">

<%= turbo_stream_from current_user %>

  <div class="container" id="game">
  <h3>Waiting for players</h3>

  <div id="players">
    <%= render "games/players", players: @game.players, game: @game, user: current_user %>
  </div>
  </div>

  <%= link_to "Display questions", start_game_path(@game), data: { turbo_method: :post } %>

  </div>
</div>

<%= link_to "Voir la question",  start_game_path(@game), id:"questions" %>

<turbo-stream action="append" target="questions">
  <template>
    <div> Voir la question</div>
  </template>
</turbo-stream>
