<%= turbo_stream_from @game %>
<%= turbo_stream_from current_user %>

<div data-controller="answer" data-answer-participation-id-value="<%= current_user.find_participation(@game).id %>">
  <div class="container" id="game">
    <% unless @game.started? || @game.ended? %>
      <div id="players">
        <div id="waiting">
          <h3 id="bounceTxt">Waiting for players . . .</h3>
        </div>

        <%= render "games/players", players: @game.players, game: @game, user: current_user %>
      </div>
    <% end %>

    <div id="question">
      <% if @game.started? %>
        <%= render "games/question", question: @game.current_question %>
      <% end %>
    </div>

    <div id="answer">
      <% if @game.started? %>

      <% end %>
    </div>

    <div id="scores">
      <% if @game.started? %>
        <%= render "games/scores", participations: @game.participations, looser: false %>
      <% end %>
    </div>

    <div id="summary">
      <% if @game.ended? %>
        <%= render "games/summary", participations: @game.participations, looser: false %>
      <% end %>
    </div>
    </div>
  </div>

  </div>
</div>
